@model IEnumerable<FinalProject.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons" ;
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.LessonTitle)*@
            Lesson Title
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Cours.CourseName)*@
            Course
        </th>
        <th>         
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTitle)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.VideoURL)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.LessonId })

                @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })

                @Html.ActionLink("Details", "Details", new { id = item.LessonId })
            }

            @if (Request.IsAuthenticated && User.IsInRole("Employee"))
            {
                @Html.ActionLink("View Lesson", "Details", new { id = item.LessonId })
            }

        </td>
    </tr>
}

</table>
